{{ ansible_managed | comment }}

allow_anonymous false
password_file /etc/mosquitto/pwfile

listener 1883

listener 8883
certfile /etc/mosquitto/certs/server.pem
cafile /etc/mosquitto/certs/server.pem
keyfile /etc/mosquitto/certs/server.key

listener 8083
protocol websockets
certfile /etc/mosquitto/certs/server.pem
cafile /etc/mosquitto/certs/server.pem
keyfile /etc/mosquitto/certs/server.key

